# Data Structures

## Sequence types
- A sequence is an ordered collection of items
- The word ordered there is important
- If a sequence was not ordered, you couldn't refer to individual items by their index position.

https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

- Four common built in data structures are **list, tuples, dictionary and sets**
- Similar to file container use to store data. For example: DS ID may contain many information.
- Different files may have different way to store the data. For example: excel, csv, json

## List

## Properties of a list
1. Denoted by **[ ]** and seperated by **,**
2. Ordered data structures
3. Allow all the data types and duplicates and can also contain other data structures also
4. Mutable (Can we change it or not)
5. Can be accessed by index

### Order

In [ ]:
a = [5, 7, 8, 9] # List a
b = [5, 8, 7, 9] # List b

In [ ]:
a == b # comparing a and b if they are equal or not

True

- An ordered collection of objects.
- Order is maintained lifetime
- List containing same elements in different orders are not same

In [ ]:
a is b # is and is not are identity operators
# Returns True if both variables are the same object

False

In [ ]:
a is not b
# Returns True if both variables are not the same object

True

In [ ]:
a = [] # empty list or as many as computer memory allows

### Different data types

In [ ]:
DS001 = ["Sandeep", 25, "Graduate", True, 76.5, 76.5] # Name, age, education, IT/NonIT, Python marks
DS001

['Sandeep', 25, 'Graduate', True, 76.5, 76.5]

In [ ]:
type(DS001)

list

### Index

In [ ]:
# Check education of DS001
DS001[3:]

[True, 76.5, 76.5]

### Mutable

In [ ]:
# The person is only undergraduate
DS001[2] = "Under Graduate"

In [ ]:
DS001

['Sandeep', 25, 'Under Graduate', True, 76.5, 76.5]

 #### Membership operators

In [ ]:
'Sandeep' in DS001 # Returns True if a sequence with the specified value is present in the object

True

In [ ]:
'sandeep' not in DS001 # Returns True if a sequence with the specified value is not present in the object

True

### Practice
- Create list using your own information

### Type casting

In [ ]:
Virat_score = 52, 17, 59, 60, 32
Virat_score

(52, 17, 59, 60, 32)

In [ ]:
type(Virat_score)

tuple

In [ ]:
Virat_score = list(Virat_score)
Virat_score

[52, 17, 59, 60, 32]

In [ ]:
type(Virat_score)

list

### Accessing list

1- Access only your marks

2- Access everything from list

3- Access only last element

4- Access only name, education and python marks

### Creating list

In [ ]:
import random
rand_number = [random.randint(1, 10) for i in range(10)]
rand_number

[1, 4, 10, 10, 4, 4, 1, 6, 2, 6]

In [ ]:
type(rand_number)

list

In [ ]:
range(10)

range(0, 10)

In [ ]:
new_list = list(range(10)) # start by default is 0
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
new_list = list(range(1, 10, 2)) # start position, end position and steps)
new_list

[1, 3, 5, 7, 9]

In [ ]:
#List len() function
list1 = [10,20,30,40,50]
print(len(list1))

In [ ]:
#list count()
list1 = [10,20,30,40,10]
num = 10
res1 = list1.count(num)
print(res1)

In [ ]:
#List insert()
thislist = [1,2,3]
thislist.insert(1, 7)
print(thislist)

In [ ]:
#List remove()
thislist = [7,9,10]
thislist.remove(10)
print(thislist)

In [ ]:
#List del()
list1 = [10,20,30,50]
del list1[0]
print(list1)

In [ ]:
#List sort()
list1 = [1,5,4,7,5,9]
list1.sort()
print(list1)

In [ ]:
#List reverse() Method
list1 = [1,2,3,4,3]
list1.reverse()
print(list1)

### Methods in a list 

- These are some in-built functions with pre-defined behaviours
- for example sum, len etc
- These functions may not work with any other data structures

## Tuples()

1- Immutable

2- Ordered data 

3- All data types

4- Duplicates

5- Denoted by ()

In [ ]:
DS001 = "Sandeep", 25, "Graduate", True, 76 # Name, age, education, IT/NonIT, Python marks
DS001

('Sandeep', 25, 'Graduate', True, 76)

In [ ]:
type(DS001)

tuple

In [ ]:
DS001 = ("Sandeep", 25, "Graduate", True, 76) # Name, age, education, IT/NonIT, Python marks
DS001

('Sandeep', 25, 'Graduate', True, 76)

In [ ]:
type(DS001)

tuple

In [ ]:
DS001[2]

'Graduate'

### Immutable

In [ ]:
DS001[2] = "PhD"

TypeError: ignored

### Indexing inside tuples

### Methods in tuples

In [ ]:
# count, index
a = (1, 2, 2, 3, True, "Sandeep", 1)
a.count(2)

2

In [ ]:
b = list(a)
type(b)

list

In [ ]:
a.index("Sandeep")

5

In [ ]:
DS001 = DS001 * 3 # Basic mathematics are possible
DS001

('Sandeep',
 25,
 'Graduate',
 True,
 76,
 'Sandeep',
 25,
 'Graduate',
 True,
 76,
 'Sandeep',
 25,
 'Graduate',
 True,
 76)

In [ ]:
DS001 = DS001+ 25
DS001

TypeError: ignored

# Sets

- denoted {}
- unordered
- no duplicates
- Boolean is not allowed
- Mutable

In [ ]:
DS001 = {"Sandeep", 25, True, "PhD", 52.5} # Name, age, education, IT/NonIT, Python marks
print(DS001)

{True, 'Sandeep', 'PhD', 52.5, 25}

In [ ]:
A = {1, 3, 2, 2.5, "Python", 2, True}
A

{1, 2, 2.5, 3, 'Python'}

In [ ]:
DS001

{25, 52.5, 'PhD', 'Sandeep', True}

- Boolean is excluded
- Unordered

In [ ]:
DS001

{25, 76, 'Graduate', 'Sandeep', True}

In [ ]:
type(DS001)

set

In [ ]:
DS001[2]

TypeError: 'set' object is not subscriptable

In [ ]:
DS005 = {"Sandeep", 2, 0.5, "PhD", True} 
DS005
#DS005[3] = "Grad" # replacing values are not possible

{0.5, 2, 'PhD', 'Sandeep', True}

In [ ]:
DS005.add("Eng")

In [ ]:
DS005

{0.5, 2, 'Eng', 'PhD', 'Sandeep', True}

### Creating sets

In [ ]:
# Create a set using random import
# Create a set using range
# Create a list and convert it into set

In [ ]:
a = set(range(10))
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
b = set(range(6, 15))
b

{6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
b.difference(a) # to see the different values in 2 different sets
# values of a not present in b

{10, 11, 12, 13, 14}

In [ ]:
a.difference(b) # to see the different values in 2 different sets
# values of b not present in a

{0, 1, 2, 3, 4, 5}

In [ ]:
a.intersection(b)# inner join basically means common values

{6, 7, 8, 9}

In [ ]:
intersect = a & b
intersect

{6, 7, 8, 9}

In [ ]:
a_1 = {1, 1.5, "Python", True, 28}

In [ ]:
type(a_1)

set

In [ ]:
a_1

{1, 1.5, 28, 'Python'}

In [ ]:
a_1.remove(28) # remove and discard functions are same
a_1

{1, 1.5, 'Python'}

In [ ]:
a_1.discard("Python")
a_1

{1, 1.5}

In [ ]:
abc = {1, 2, 3, 4}
bcd = {2, 3, 5, 6}

In [ ]:
abc.union(bcd)

{1, 2, 3, 4, 5, 6}

In [ ]:
uni = abc | bcd

In [ ]:
uni

{1, 2, 3, 4, 5, 6}

# Dictionary {key:value}

## Properties of dictionary

1- Mapping based, pairwise element

2- Unorder data structure

3- All data types

4- Override the duplicates

5- Mutable value, keys are immutable and no duplicates for keys

In [ ]:
DS001 = {"Name": "Sandeep", "Age": 25, "Education": "Graduate", "IT background": False, "Score": 76} # Name, age, education, IT/NonIT, Python marks
DS001

{'Age': 25,
 'Education': 'Graduate',
 'IT background': False,
 'Name': 'Sandeep',
 'Score': 76}

In [ ]:
type(DS001)

dict

In [ ]:
# Unordered cannot access anything using indexing
DS001[2]

KeyError: ignored

In [ ]:
# Override the duplicates
DS001 = {"Name": "Sandeep", "Age": 25, "Education": "Graduate", "IT background": False, "Score": 79, "Score": 78} # Name, age, education, IT/NonIT, Python marks
DS001

{'Age': 25,
 'Education': 'Graduate',
 'IT background': False,
 'Name': 'Sandeep',
 'Score': 78}

Score is now 78, 78 override the 76

In [ ]:
# It is mutable
DS001["Education"] = "PhD"
DS001

{'Age': 25,
 'Education': 'PhD',
 'IT background': False,
 'Name': 'Sandeep',
 'Score': 78}

In [ ]:
# We can remove last itme using popitem function
DS001.popitem()

('Score', 78)

In [ ]:
DS001

{'Age': 25, 'Education': 'PhD', 'IT background': False, 'Name': 'Sandeep'}

In [ ]:
DS001["Stats background"] = "Yes"

In [ ]:
DS001

{'Age': 25,
 'Education': 'PhD',
 'IT background': False,
 'Name': 'Sandeep',
 'Stats background': 'Yes'}

In [ ]:
test_dict = {1:'aakash',2:'kumar',3:'Bihar',4:'piro'}
#print(test_dict.items())
#print(test_dict.items())
for k, v in test_dict.items():
  print(k," ",v)

### Create a dictionary

In [ ]:
Student_ID = ["DS001", "DS002", "DS003"]
Student_Edu = ["PhD", "Grad", "Under Grad"]

In [ ]:
list(zip(Student_ID, Student_Edu)) # zip function merge them based on index

[('DS001', 'PhD'), ('DS002', 'Grad'), ('DS003', 'Under Grad')]

In [ ]:
diction = {}
for i, j in zip(Student_ID, Student_Edu):
    diction[i] = j

In [ ]:
diction

{'DS001': 'PhD', 'DS002': 'Grad', 'DS003': 'Under Grad'}

### Accessing dictionaries

- It is unorderd so we cannot use index
- Only way to use keys

In [ ]:
DS001["Education"]

'PhD'

In [ ]:
DS001["Education"] = "Grad"
DS001

{'Age': 25,
 'Education': 'Grad',
 'IT background': False,
 'Name': 'Sandeep',
 'Stats background': 'Yes'}

### Method in Dict

In [ ]:
diction

{'DS001': 'PhD', 'DS002': 'Grad', 'DS003': 'Under Grad'}

In [ ]:
diction.keys() # it is not necessary the keys will always be in order

dict_keys(['DS001', 'DS002', 'DS003'])

In [ ]:
keys = list(diction.keys()) # give keys as a list as many operations are easy in list
keys

['DS001', 'DS002', 'DS003']

In [ ]:
diction.values()

dict_values(['PhD', 'Grad', 'Under Grad'])

In [ ]:
val = list(diction.values())
val

['PhD', 'Grad', 'Under Grad']

In [ ]:
diction.items() # keys and values will be togther in form of tuple

dict_items([('DS001', 'PhD'), ('DS002', 'Grad'), ('DS003', 'Under Grad')])

In [ ]:
diction['DS004'] = "Grad" # including key and values
diction

{'DS001': 'PhD', 'DS002': 'Grad', 'DS003': 'Under Grad', 'DS004': 'Grad'}

In [ ]:
diction.pop("DS002") # we must have to specify key to remove key and values

'Grad'

In [ ]:
diction

{'DS001': 'PhD', 'DS003': 'Under Grad', 'DS004': 'Grad'}

In [ ]:
# Get function retrieves values from keys
diction.get("DS004") # will not throw error if key is not present

'Grad'

In [ ]:
diction["DS005"]

KeyError: ignored

In [ ]:
del diction['DS001']
print(diction)

{'DS003': 'Under Grad', 'DS004': 'Grad'}