## **Data types**
* Integers (int)
* Floating point numbers (float)
* String (str)
* Boolean types

In [ ]:
# Integers
a = 3
b = -450
c = 21549873 ** 100
print(c)

In [ ]:
a = 516

In [ ]:
a = 516 ** 100
print(a)

18406455394871434903752145461595685836010553357700087345318108823702985931581611288501840957867257419374088461081434818264731320499057823781879564877369000262828783526317832266895087654964611425422213964389110716795318488309000563475622209973170577405395014680517464293376

In [ ]:
# Floating-Point numbers
# Range: -10^308 to 10^308; 16 digits of precision
a = 3.14
b = -689.53

# Scientific notation
c = 4e2 # 4 * 10 * 10 
d = 3.78e3
print(d)
f = -78.0e6
print(f)

In [ ]:
a = 5.3
b = 2.7

In [ ]:
a = 5.31478421369874512

In [ ]:
# Strings
"Hello World!"
'Hello World!'
"It's my class"

a = ''
b = ' '
c = "This very long sentence. It is in the same line"
print(c)
d = """My name is Vinay.
I teach python.
I work at OdinSchool"""
print(d)

In [ ]:
a = ""
print(a)

In [ ]:
c = "     "
print(c)

'   '

In [ ]:
"Hello all"

'Hello all'

In [ ]:
"124@#  56"

'124@#  56'

In [ ]:
c = """This very long sentence. It is in the same line
Hi Hello
Bye"""
print(c)

This very long sentence. It is in the same line
Hi Hello
Bye

In [ ]:
d = """My name is Vinay.
I teach python.
I work at OdinSchool"""
print(d)

My name is Vinay.
I teach python.
I work at OdinSchool

In [ ]:
# Boolean 
a = True

In [ ]:
b = False

In [ ]:
# All procedural programming -> Case sensitive(Python, C, C++, Java)
# All non-procedural languages -> Case insensitive (Sql, html)

### **Type conversion**

In [ ]:
a = 3

In [ ]:
a = input("Enter the value of a: ")
b = input("Enter the value of b: ")

Enter the value of a: 3
Enter the value of b: 4

In [ ]:
print(a+b)

34

In [ ]:
type(a)

str

In [ ]:
type(b)

str

In [ ]:
"3" + "4"

'34'

In [ ]:
a = input("Enter the value of a: ")
b = input("Enter the value of b: ")

a = int(a)
b = int(b)

Enter the value of a: 3
Enter the value of b: 4

int

In [ ]:
print(a+b)

7

In [ ]:
a = int(input("Enter the value of a: "))

Enter the value of a: 5

In [ ]:
a = 3.14
type(a)

float

### **Practice problems**
1. WAP to find the sum, difference, product and true division of two integers.
2. WAP to find the area of a rectangle.
3. WAP that takes three numbers as input to calculate and print the average of the numbers.

In [ ]:
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

area = length * width
print(area)

Enter the length of the rectangle: 2.5
Enter the width of the rectangle: 8.3
20.75

In [ ]:
a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
c = a + b
print(c)

Enter the value of a: 3
Enter the value of b: 4
7

In [ ]:
a = 7
a = 5
a = 3
a = 4
print(a)

4

In [ ]:
a = 3
b = 4
c = 7

avg = (a+b+c) / 3
print("The average of three numbers is ", avg)

The average of three numbers is  4.666666666666667

## **Math module**
* Functions
* Constants

In [ ]:
import math

In [ ]:
help(math)

In [ ]:
dir(math)

In [ ]:
# Functions
# 1. factorial()
# 2. ceil(), floor()
# 3. pow()
# 4. sqrt()

In [ ]:
math.factorial(5)

120

In [ ]:
round(5.73654)

6

In [ ]:
math.ceil(5.001)

6

In [ ]:
math.floor(7.99)

7

In [ ]:
3 ** 3

27

In [ ]:
math.pow(3, 2)

9.0

In [ ]:
a = math.sqrt(25)
print(a)

5.0

In [ ]:
math.pi

3.141592653589793

In [ ]:
import math
radius = 5

area = math.pi * math.pow(radius, 2)
print(area)

### Practice problems
1. WAP to find the area of a circle.
2. WAP to calculate volume and surface area of a cylinder. 
* Inputs: radius and height

* Output: Volume = pi * (r ** 2) * h and Surface area = 2 * pi * r * h + 2 * pi * r ** 2

In [ ]:
radius = 5
height = 10
volume = math.pi * (radius ** 2) * height
print(volume)

785.3981633974483

In [ ]:
3 + 4