## **Control structures**
1. Sequential control structures
2. Decision control structures
3. Iterative control structures

In [ ]:
# Sequential control structures

In [ ]:
a = 3
b = 4
c = a + b
print(c)

### **Decision control structures**

*   Conditional flow
*   Block execution


![decision_making.jpg]()
##   Types:

1.   Simple **if**
2.   **if** - **else**
3.   Nested **if** - **else**
4.   **if** - **elif** - **else**  
5.   Conditional expressions (Ternary operator)

### 1. Simple **if**

keyword - **if**

Block of code -> indented

```
Syntax :-   if (condition):
                Statement 1 
                Statement 2
                    .
                    .
                Statement n
            Statement x
```

In [ ]:
a = -3

if a > 0:
  print("Positive")
  print("Still in if block")
  
print("Out of if condition")

Out of if condition

### 2. **if** - **else**

keywords - **if** & **else**

Two Blocks of code -> indented

**if** block = True block

**else** block = False block

```
Syntax :-   if (condition):
                Statement 1 
                Statement 2
                    .
                    .
                Statement n
            else:
                Statement 1 
                Statement 2
                    .
                    .
                Statement n
            Statement x
```

In [ ]:
a = 3

if a % 2 == 0:
  print("Its an even number")
else:
  print("Its an odd number")

Its an odd number

### 3. Nested **if** - **else**

keywords - **if** & **else**

Multiple Blocks of code -> indented

**if** block = True block

**else** block = False block

Used when **multiple dependent conditions** are present

```
Syntax :-   if (condition 1):
                # True Block
                if (condition 2):
                   # Inner True block
                   Statement 1 
                   Statement 2
                else:
                   # Inner False block
                   Statement 1 
                   Statement 2
            else:
                # False block
                if (condition 3):
                   # Inner True block
                   Statement 1 
                   Statement 2
                else:
                   # Inner False block
                   Statement 1 
                   Statement 2
            Statement x
```

In [ ]:
# Nested if-else
# Find the largest of three numbers
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

# a = 10, b = 5, c = 20
# a = 5, b = 20, c =100
if (a > b):
  if (a > c):
    print("Largest number is: ", a)
  else:
    print("Largest number is: ", c)
else:
  if (b > c):
    print("Largest number is: ", b)
  else:
    print("Largest number is: ", c)
print("Immediate sequence statement")

### 4. **if** - **elif** - **else**

keywords - **if** , **elif**, **else**

Multiple Blocks of code -> indented

**if** block = True block

**elif** block = True block

**else** block = False block

Used when **multiple independent conditions** are present 

```
Syntax :-   if (condition 1):
                Statement 1 
                Statement 2
            elif (condition 2):
                Statement 1 
                Statement 2
                    .
                    .
            else:
                Statement 1
                Statement 2
            Statement x
```

In [ ]:
# if - elif - else
# Find the grade of the student
marks = int(input("Enter the marks of the student: "))
if marks > 90:
  print("Grade: A")
elif marks > 75: # 75 - 90
  print("Grade: B")
elif marks > 60: # 60 -75
  print("Grade: C")
elif marks > 45:
  print("Grade: D")
else:
  print("Grade: F")

In [ ]:
a = 26

if a % 3 == 0:
  if a % 5 == 0:
    print("FizzBuzz")
  else:
    print("Fizz")
elif a % 5 == 0:
  print("Buzz")
else:
  print(a)

26

In [ ]:
a = 26

if a % 3 == 0 and a % 5 == 0:
  print("FizzBuzz")
elif a % 5 == 0:
  print("Buzz")
elif a % 3 == 0:
  print("Fizz")
else:
    print(a)

26

In [ ]:
n=int(input('enter the number'))
n = 30
if (n % 3 == 0):
  print("fizz")
  if(n % 5 == 0):
    print('buzz')
if(n % 5==0):
  if(n % 3 == 0):
    print('fizzbuzz')
  else:
    print('buzz')
else:
  print(n)

### **Practice problems**
1. Write a program to print FizzBuzz. Input an integer. If it is
* Divisible by 3 - print FIZZ,
* Divisible by 5 - print BUZZ
* Divisible by both 3 and 5 - FIZZBUZZ
* Else print the number itself
2. WAP that takes price of as an item as input and calculates and display the selling price of the item based on below discounts:
* Items with price between Rs 0 - Rs 9999 get 10% discount
* Items with price between Rs 10000 - 20000 get 20% discount
* Items with price above Rs 20000 get 25% discount
3. Print the min and max of two numbers.
4. WAP that takes age of a person as input and checks if the person is eligible to vote.
5. Write a program that takes 'ch' as an input and based on its value do the following arithmetic calculation:

```
if ch=1  find a+b; 
if ch=2 find a-b;
if ch=3  find a*b;
if ch=4  find a/b;
```

In [ ]:
B=50
c=72
angle_degrees=49
angle_radians=math.radians(angle_degrees)
a_square=(B**2)+(c**2)-(2*b*c*math.cos(angle_radians))
A=math.sqrt(a_square)
print(A)

54.40932816409653