#  **Iterative control structures**

* Also called as Loops
* Iterative = repetition

Repeated execution of a block of statements = Loops

Number of repetitions = number of iterations

## Loop Control

1.   Loop variable initialization
2.   Condition for termination
3.   Updation of Loop variable


## Two types of Loops


1.   While Loop
2.   For Loop

# While Loop



```
Syntax: While (condition):
            Statement 1
            Statement 2
                .
                .
            Statement n
        Statement x
```

In [ ]:
# Loop variable initialization
# Condition for termination
# Updation of Loop variable

In [ ]:
# 5! = 5*4*3*2*1 = 120

In [ ]:
# Results initialization
# Product -> 1
# Sum -> 0

In [ ]:
# Example: Factorial
# Loop variable initialization
number = 5
fact = 1
while number > 0: # -> Condition for termination
  fact *= number # 120 * 1 = 120
  print("Result: ", fact, "number: ", number)
  number -= 1 # 0 -> Loop variable updation
  

print(fact)

Result:  5 number:  5
Result:  20 number:  4
Result:  60 number:  3
Result:  120 number:  2
Result:  120 number:  1
120

In [ ]:
# WAP to find the sum of first 10 natural numbers (1-10)

# For Loop

```
Syntax: for i in sequence:
            Statement 1
            Statement 2
                .
                .
            Statement n
        Statement x
```
* All the 3 Loop controls (Initialization, termination and updation of Loop variable) are performed in the sequence.

* Sequence could be any collection (Array, List, tuple, dictionary).

In [ ]:
for loop_variable in "python":
  print(loop_variable)

p
y
t
h
o
n

In [ ]:
for i in [0, 1, 2, 3, 4, 5]: # -> List
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
# 5! = 1*2*3*4*5

In [ ]:
# Example: Factorial

fact = 1

for i in range(1, 6):
  fact = fact * i
  print("Iteration: ", i, "Result: ", fact)

print(fact)

Iteration:  1 Result:  1
Iteration:  2 Result:  2
Iteration:  3 Result:  6
Iteration:  4 Result:  24
Iteration:  5 Result:  120
120

In [ ]:
# WAP to find the sum of first 10 natural numbers (1-10)

## **While vs For loop**
1. **While**: Indefinite, **For:** Definite
2. **While**: To be used when the number of iterations are unknown.    **For**: To be used when the number of iterations are known.

## **Break and Continue**

In [ ]:
# Break

for i in range(10):
  print(i)
  if i == 5:
    break

for i in range(10):
  for j in range(20):
    for k in range(30):
      if k == 2:
        break

0
1
2
3
4
5

In [ ]:
# Continue

for i in range(10):
  if i == 4:
    continue
  print(i)

0
1
2
3
5
6
7
8
9

In [ ]:
for i in "Qwerty@254":
  if i in "0123456789":
    continue
  print(i)

o
d
i
n
s
c
h
o
o
l

In [ ]:
count = 0
number = 0

while True:
  if number % 2 == 0:
    print(number)
    count += 1
    
  number += 1

  if count == 50:
    break

In [ ]:
print(count)

50

In [ ]:
string = "78145ty"

In [ ]:
len(string)

9

In [ ]:
import string
print(string.punctuation)
"@" in string.punctuation

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

True

In [ ]:
count_of_numeric = 0
for i in string:
  if i in "01234656789":
    count_of_numeric += 1

if count_of_numeric == len(string):
  print("Not a alphanumeric")
else:
  print("Alphanumeric")

Alphanumeric

## Practice problems
1. WAP to print first 50 even numbers.
2. WAP to find the sum of first 10 odd numbers.
3. WAP to find whether a string is alphanumeric.
4. WAP to check whether the string is palindrome.
5. WAP to check whether a number is prime or not.

In [ ]:
number = 121
a = str(number)
a[::-1]

'121'

In [ ]:
if a == a[::-1]:
  print("It's a palindrome")
else:
  print("Not a palindrome")

Not a palindrome

In [ ]:
# zip function
a = ["apple", "banana", "cherry", "Mango"]
b = [40, 20, 25, 50]

c = zip(a, b)

for i in c:
  print(i)

('apple', 40)
('banana', 20)
('cherry', 25)
('Mango', 50)

In [ ]:
# enumerate function

students = ["Raghu", "Ankit", "Aritra", "Ashok"]

for i in enumerate(students, 10):
  print(i)

(10, 'Raghu')
(11, 'Ankit')
(12, 'Aritra')
(13, 'Ashok')

## Practice problems
1. Count the total number of digits in a number
2. Print the following pattern
![image.png]()
3. Display numbers from -10 to -1 using for loop
4. Print the following pattern 
![image.png]()

In [ ]:
# Solutions

In [ ]:
for i in range(1, 6):
  for j in range(1, 6):
    if j <= i:
      print(j, end = " ")
  print(end = "\n")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
start = 5
for i in range(1, 6):
  for j in range(start, 0, -1):
    print(j, end = " ")
  start -= 1
  print(end = "\n")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1