## Pandas: Module
1. High performance data analysis.
2. Handles large data sets.
3. Supports different file formats.
4. More flexible.
5. Tabular format data (Rows and columns).
6. Efficient for missing data.
7. Supports Indexing, slicing, subset on large data sets.
8. Merge and join different data sets.
9. Reshape data sets.
<br>

Link: https://pandas.pydata.org/

- In general when we deal with data pandas libray is used very commonly due to some important functions in data science
    - data analysis
    - data cleaning
    - data exploration
    - data manipulation
    
- Pandas - Panel Data and python data analysis it's a multidimensional data involving measurements over time
- Pandas alone cannot perform. It is built on numPy, as it can also handle ndimensional array. So both libraries required
<br>
- Features - series obj & data frame,aligns data, slicing, indexing, subseting, handles missing data, groups by functionality
- Features - merging & joining, labeling of axes hierarchially, time-series functionality, reshaping & robust input/output tool
<br>
- Pandas - great for > 500k rows, works great for tabular data, arbitrary matrix & time series matrix
- Numpy - < 500k rows, however memory efficinet

In [ ]:
# Installing pandas
# pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

## Pandas: Three data structures
1. Series: 1-D (List)
2. Dataframe: 2-D (List or Dictionary or series)
3. Panel: Multi-Dimensional (data, major axis, minor axis)

### Series

Syntax:

```
import pandas as pd
pd.Series(data, index)
```

### DataFrame:

Syntax:


```
import pandas as pd
pd.DataFrame(data)
```

### Panel:

Syntax:


```
import pandas as pd
pd.Panel(data, major axis, minor axis)
```

### DataFrame is the **most efficient data structure.**

## Series

1. Empty series
2. Using arrays
3. Using Lists
4. Using dictionary
5. Using tuple

In [ ]:
import pandas as pd

In [ ]:
# Empty series
s = pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
l = [10, 20, 30, 40, 50] # list
pd.Series(l)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
## Using np array
import numpy as np
a = np.array(["a", "b", "c", "d", "e"])
b = [10, 11, 12, 13, 14]
pd.Series(a, b)

10    a
11    b
12    c
13    d
14    e
dtype: object

In [ ]:
l = (10, 20, 30, 40, 50) # using tuple
index = [-1, -2, -3, -4, -5]
pd.Series(l, index)

-1    10
-2    20
-3    30
-4    40
-5    50
dtype: int64

In [ ]:
l = [10, 20, 30, 40, 50]
index = ['i', 'ii', 'iii', 'iv', 'v']
pd.Series(l, index)

i      10
ii     20
iii    30
iv     40
v      50
dtype: int64

In [ ]:
# Adding labels in series
age = pd.Series(["A", "B", "C"], index = ["Sudiptha", "Akhila", "Rohit"]) 
age

Sudiptha    A
Akhila      B
Rohit       C
dtype: object

## DataFrame

In [ ]:
# creating a dataframe from a list
data = [12,22,33,44]
df = pd.DataFrame(data)
df

    0
0  12
1  22
2  33
3  44

In [ ]:
# adding index and column name
data = [12,22,33,44]
df = pd.DataFrame(data, index = ["Shailesh", "Sai", "Harsha", "Jagdeesh"], columns = ['age'])
df

          age
Shailesh   12
Sai        22
Harsha     33
Jagdeesh   44

In [ ]:
a = {"fruit": ["Apple", "Banana", "Cherry"], "price": [10, 20, 30]}
b = [5, 7, 0]
pd.DataFrame(a, b)

    fruit  price
5   Apple     10
7  Banana     20
0  Cherry     30

In [ ]:
# Your explanation and codes here

## Series attributes
|S.no.|function|Syntx|Explanation|
|---|---|---|---|
|1.| index| Series.index| Return all the index values.|
|2.| array| Series.array| Return array of values.|
|3.| values| Series.values| Return values of series.|
|4.| name| Series.name| Returns the name of a series.|
|5.| shape| Series.shape|shape of a series|
|6.| ndim| Series.ndim|dimension of a series|
|7.| size| Series.size|size of a series|
|8.| nbytes| Series.nbytes| Memory occupied by the values.|
|9.| memory usage|Series.memory_usage()| Memory occupied by both index and values.|
|10.| empty|Series.empty| Returns True if series is empty, else false|

### Index

In [ ]:
a = [1, 2, 3, 4, 5]
index = ["a", "b", "c", "d", "e"]
b = pd.Series(a, index)

In [ ]:
b.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### array

In [ ]:
c = b.array
print(c)

<PandasArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: int64

In [ ]:
c.to_numpy()

array([1, 2, 3, 4, 5], dtype=int64)

In [ ]:
c = b.to_numpy()
print(c)

[1 2 3 4 5]

### Values

In [ ]:
type(b.values)

numpy.ndarray

In [ ]:
b.values

array([1, 2, 3, 4, 5], dtype=int64)

### name

In [ ]:
b.name

In [ ]:
b = pd.Series([4, 6, 8, 10, 12], name = "Even")
b.name

'Even'

### dtypes

In [ ]:
b.dtype

dtype('int64')

### shape

In [ ]:
b.shape

(5,)

### ndim

In [ ]:
b.ndim

1

### size

In [ ]:
b.size

5

### empty

In [ ]:
b.empty

False

In [ ]:
pd.Series().empty # creating an empty series

C:\Users\hp\AppData\Local\Temp\ipykernel_12312\3997566521.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series().empty

True

### nbytes

In [ ]:
b = pd.Series(0, [5])
b.nbytes

8

### memory usage

In [ ]:
b = pd.Series(0, [5])
b.memory_usage()

16

In [ ]:
b = pd.Series([0, 1], [5, 10])
print(b)
b.memory_usage()

5     0
10    1
dtype: int64

32

In [ ]:
b = pd.Series([0, 1, 2, 3, 4], ["a", "b", "c", "d", "e"])
b.memory_usage()

80

## Data frame

### Merging two data frames
Merging two data frames in pandas can be done using the merge() function. The merge() function allows you to combine two data frames based on one or more common columns. Here's an example.

Basic syntax:
<br>
**result = pd.merge(df1, df2, how='inner', on='common_column')**
<br>
where:
<br>
<br>
df1 and df2 are the dataframes you want to join.
<br>
<br>
**how** parameter specifies the type of join you want to perform. You can use 'inner', 'outer', 'left' or 'right'.
<br>
<br>
**on** parameter specifies the common column(s) that you want to join on.

In [ ]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

In [ ]:
merged_df = pd.merge(df1, df2, on='key') # Here only key column matches.
print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6

### Outer merge

In [ ]:
merged_df = pd.merge(df1, df2, on='key', how='outer') # outer includes all rows from both df1 and df2, with NaN values in any columns where data is missing.
print(merged_df)

  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      5.0
2   C      3.0      NaN
3   D      4.0      6.0
4   E      NaN      7.0
5   F      NaN      8.0

### Inner merge

In [ ]:
merged_df = pd.merge(df1, df2, on='key', how='inner') # inner includes only key column matches.
print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6

### Left join

In [ ]:
merged_df = pd.merge(df1, df2, on='key', how='left') # left means your first datafrmae will be main and merging will be based on first dataframe 
print(merged_df)

  key  value_x  value_y
0   A        1      NaN
1   B        2      5.0
2   C        3      NaN
3   D        4      6.0

### Right join

In [ ]:
merged_df = pd.merge(df1, df2, on='key', how='right') # right means your second datafrmae will be main and merging will be based on second dataframe 
print(merged_df)

### Check if two data frames are same or not using equals function
- If same, output will be true else false

In [ ]:
df1['key'].equals(df2['key'])

False

### Join two dataframes
Pandas join function is used to join two or more dataframes based on their index or column values. It works similarly to the SQL JOIN statement, allowing you to combine data from different sources into a single dataframe.
<br>
<br>
The basic syntax of the join function is as follows:
<br>
<br>
**df.join(other, on=None, how='left')**
<br>
<br>

where:
<br>
<br>
**df**: the dataframe you want to join with another dataframe.
<br>
<br>
**other**: the other dataframe you want to join with df.
<br>
<br>
**on**: the column or index level names to join on. If not specified, the join will be based on the index of other dataframe.
<br>
<br>
**how**: the type of join to be performed, which can be **left**, **right**, **outer**, or **inner**. **By default, 'left' join is performed**.

In [ ]:
# create two sample dataframes
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value1': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value2': [5, 6, 7, 8]})
print(df1)
print(df2)
# join df1 and df2 on their common index
result = df1.join(df2.set_index('key'), on='key')

print(result)

  key  value1
0   A       1
1   B       2
2   C       3
3   D       4
  key  value2
0   B       5
1   D       6
2   E       7
3   F       8
  key  value1  value2
0   A       1     NaN
1   B       2     5.0
2   C       3     NaN
3   D       4     6.0

#### Difference between merge and join

Merge is used to combine data frames based on the values of common columns, while join is used to combine data frames based on their indexes. We can also specify the type of join (inner, left, right, or outer) using the how parameter.

### Join multiple dataframes

In [ ]:
### merging multiple dataframes
player = ['Player1','Player2','Player3', 'Player4']
score = [88,92,63, 22]
df1 = pd.DataFrame({'Player':player, 'Scores': score})
print(df1)

player = ['Player1','Player2','Player4']
wicket = [0,1,5]
df2 = pd.DataFrame({'Player':player, 'Wickets': wicket})
print(df2)

player = ['Player4','Player2','Player3']
catches = [0, 2, 1]
df3 = pd.DataFrame({'Player':player, 'Catch': catches})
print(df3)

player = ['Player4','Player5','Player3']
fifty = [0, 2, 1]
df4 = pd.DataFrame({'Player':player, 'Fifty': fifty})
print(df4)

    Player  Scores
0  Player1      88
1  Player2      92
2  Player3      63
3  Player4      22
    Player  Wickets
0  Player1        0
1  Player2        1
2  Player4        5
    Player  Catch
0  Player4      0
1  Player2      2
2  Player3      1
    Player  Fifty
0  Player4      0
1  Player5      2
2  Player3      1

In [ ]:
# Merge df1 and df2 on 'Player' column
df_merged = pd.merge(df1, df2, on='Player', how='outer')

# Merge df_merged and df3 on 'Player' column
df_merged = pd.merge(df_merged, df3, on='Player', how='outer')

# Merge df_merged and df4 on 'Player' column
df_merged = pd.merge(df_merged, df4, on='Player', how='outer')

print(df_merged)

### Basic mathematical operations

|S.no.|Operations|Method 1|Method 2|Explanation|
|---|---|---|---|---|
|1| addition|a + b|a.add(b)|Addition|
|2| substract|a - b|a.subtract(b)|Subtraction|
|3| multiply|a * b|a.multiply(b)|Multiplication|
|4| division|a / b|a.divide(b)|Division|
|5| modulo|b%a|a.mod(b)|remainder|
|6| power|a ** b|a.pow(b)|raises each value in the DataFrame a specified number of times| 
|7| less than|b < a|b.lt(a)|less than|
|8| greater than|b > a|b.gt(a)|greater than|
|9| equal to|b == a|b.eq(a)/b.equals(a)|compare if they are equal or not|
|10|less than equal to|b <= a|b.le(a)| lesss than or equal to|

In [ ]:
a = pd.Series((1, 2, 3, 4, 5))
b = pd.Series([10, 20, 30, 40, 50])
a + b

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
a.add(b)

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
b

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
a.subtract(b)

0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64

In [ ]:
a.multiply(b)

0     10
1     40
2     90
3    160
4    250
dtype: int64

In [ ]:
a.divide(b)

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [ ]:
a.mod(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
a.floordiv(b)

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [ ]:
b.pow(a)

0           10
1          400
2        27000
3      2560000
4    312500000
dtype: int64

In [ ]:
b.lt(a)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
a = pd.Series((1, 2, 3, 4, 100))
b = pd.Series([10, 20, 30, 40, 100])
b.le(a)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [ ]:
b.lt(a)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
b.ge(a)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [ ]:
b.gt(a)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [ ]:
b.eq(a)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [ ]:
b.equals(a)

False

In [ ]:
b ** a

0         10
1        400
2      27000
3    2560000
4          0
dtype: int64

In [ ]:
b.pow(a)

0                     10
1                    400
2                  27000
3                2560000
4   -9223372036854775808
dtype: int64

In [ ]:
2 ** 2

18446744073709551616

## Importing and analysis of a file

## DataFrame
* Accessing / slicing
1. head()
2. tail()
3. describe(): Only for numerical columns
4. shape: Attribute
5. Slicing: [start: stop: step] - rows
6. slicing: columns ["column_name"]

In [ ]:
# importing file from a local folder
from google.colab import files
uploaded = files.upload()

Saving mtcars.csv to mtcars.csv

In [ ]:
cars = pd.read_csv("mtcars.csv") # read Crop data files
#print output
cars

,Type,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
#to check the type of data provided
type(cars)

pandas.core.frame.DataFrame

### Basic data exploration using pandas
|S.no.|Function|Explanation|
|---|---|---|
|1|df.head()|examine first five observation we can assign more values in bracket too|
|2|df.tail()|examine last five observation we can assign more values in bracket too|
|3|df.shape|check the no of rows & columns in a data frame|
|4|df.dtypes| # to check just the datatypes of columns
|5|df.info()|dataframe, index dtype and column dtypes, non-null values and memory usage|
|6|df.drop(columns=['C1', 'C2'])| drop unwanted column|
|7|df.sort_values("C1",ascending = False)|Sorting values|
|8|df['C1'].unique()|All unique values|
|9|df['C1'].nunique()|Number of unique values|
|10|df.isnull()|Identify null values, Null values will be true|
|11|df.fillna(df["C1"].median())|fill the missing values in the df columns|
|12|df.describe()|Summary statistics|
|13|df.rename(columns={'given_name' : 'replacement'})|rename columns|
|14|df['C1].sum()|Addition|
|15|df.C1.map|map catgory into number or vice versa|
|16|df.loc()|splicing columns based on label|
|17|df.iloc()|splicing columns based on index|
|18|df.group_by()|grouping categories and performing some maths|
|19|df.dropna()|Will drop complete row if there is any na|
|20|df.fillna()|fill missing values|
|21|df.replace()|help in encoding|
|22|df.drop_duplicates()|dropping duplicates|

In [ ]:
#to read the first 5 records
cars.head()

,Type,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
#to read last 5 records
cars.tail()

,Type,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [ ]:
# to check the no of rows & columns in a data frame
cars.shape

(32, 12)

In [ ]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Type    32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
# drop unwanted column
cars_drop = cars.drop(columns=['vs', 'qsec'])
cars_drop.head()

                Type   mpg  cyl   disp   hp  drat     wt  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875   1     4     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440   0     3     2

In [ ]:
## Renaming columns
cars=cars.rename(columns={'disp' : 'displacement'})
cars.head()

,Type,mpg,cyl,displacement,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
## mapping am columns
# Be sure about column names before doing any changes
cars['am'] = cars['am'].map({0: 'automatic',  1: 'manual'})
cars.head()

,Type,mpg,cyl,displacement,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,manual,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,manual,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,manual,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,automatic,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,automatic,3,2

In [ ]:
# encoding categorical variable
cars['vs'].replace([0, 1], ['V_shape', 'Straight_line'])
cars

In [ ]:
## Missing value
cars.isnull()

,Type,mpg,cyl,displacement,hp,drat,wt,qsec,vs,am,gear,carb
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
## Missing value
cars.isnull().sum()

Type            0
mpg             0
cyl             0
displacement    0
hp              0
drat            0
wt              0
qsec            0
vs              0
am              0
gear            0
carb            0
dtype: int64

In [ ]:
# Your code here

### Basic statistical analysis

In [ ]:
# basic statistical analysis
# cars.mean()
# cars.median()
# cars.mode()
# cars.std()
# cars.max()
# car.var()
# cars.min()
# cars.count()
cars.describe(include = "all")

In [ ]:
# basic statistical analysis
# cars.mean()
# cars.median()
# cars.mode()
# cars.std()
# cars.max()
# car.var()
cars['mpg'].min()
cars.mpg.count()

### loc vs iloc

The Pandas offers .loc[] and .iloc[] methods for data slicing.

- The **.loc[] method is a label based method** that means it takes names or labels of the index when taking the slices, 
- **.iloc[] method is based on the index's position**. It behaves like a regular slicing where we just have to indicate the positional index number and simply get the appropriate slice.

### iloc

In [ ]:
#to view entire row & 4th column from DS [: is the row, 4 is the column no]
#we are viewing hp coulmn only
cars.iloc[:,4]

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int64

In [ ]:
cars.iloc[0:5,4]

0    110
1    110
2     93
3    110
4    175
Name: hp, dtype: int64

### loc

In [ ]:
# read data set and store it in data frame
#see all record of mpg column
only_mpg = cars.loc[:,"mpg"]
only_mpg

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [ ]:
#display records from index 0 to index 6 from mpg columns
cars.loc[:6,"mpg"]

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
5    18.1
6    14.3
Name: mpg, dtype: float64

In [ ]:
#see 1st 7 records from mpg to qsec column
cars.loc[:6,"mpg":"qsec"]

    mpg  cyl   disp   hp  drat     wt   qsec
0  21.0    6  160.0  110  3.90  2.620  16.46
1  21.0    6  160.0  110  3.90  2.875  17.02
2  22.8    4  108.0   93  3.85  2.320  18.61
3  21.4    6  258.0  110  3.08  3.215  19.44
4  18.7    8  360.0  175  3.15  3.440  17.02
5  18.1    6  225.0  105  2.76  3.460  20.22
6  14.3    8  360.0  245  3.21  3.570  15.84

In [ ]:
# Your code here

### Group by

In [ ]:
#group by
group_by_am = cars.groupby('am')
group_by_am.size() # how many elements are present in each group

am
0    19
1    13
dtype: int64

In [ ]:
#group by

group_by_m = cars.groupby(['am', "gear"])
group_by_m.size() # how many elements are present in each group

am  gear
0   3       15
    4        4
1   4        8
    5        5
dtype: int64

### Filter columns

In [ ]:
## Filter records of having 8 cylinder
cars_8_cyl = cars[cars['cyl'] > 6]
cars_8_cyl

,Type,mpg,cyl,displacement,hp,drat,wt,qsec,vs,am,gear,carb
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8

In [ ]:
## Filter records
cars_6_cyl = cars[cars['cyl'] > 6]
cars_6_cyl

,Type,mpg,cyl,displacement,hp,drat,wt,qsec,vs,am,gear,carb
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8

In [ ]:
# minimum mileage of 4 cylinder car
cars_4cyl = cars[cars.cyl == 4]
cars_4cyl[cars_4cyl.mpg == cars_4cyl.mpg.min()]

#cars_4cyl.mpg.min()

### Value_count

In [ ]:
# value_count
# find the value counts
cars.am.value_counts()

0    19
1    13
Name: am, dtype: int64

In [ ]:
cars['Type'].value_counts()

Mazda RX4              1
Mazda RX4 Wag          1
Maserati Bora          1
Ferrari Dino           1
Ford Pantera L         1
Lotus Europa           1
Porsche 914-2          1
Fiat X1-9              1
Pontiac Firebird       1
Camaro Z28             1
AMC Javelin            1
Dodge Challenger       1
Toyota Corona          1
Toyota Corolla         1
Honda Civic            1
Fiat 128               1
Chrysler Imperial      1
Lincoln Continental    1
Cadillac Fleetwood     1
Merc 450SLC            1
Merc 450SL             1
Merc 450SE             1
Merc 280C              1
Merc 280               1
Merc 230               1
Merc 240D              1
Duster 360             1
Valiant                1
Hornet Sportabout      1
Hornet 4 Drive         1
Datsun 710             1
Volvo 142E             1
Name: Type, dtype: int64

### Fill the missing values

In [ ]:
## Filling missing values with a constant, here 0
## There is no missing value in this dataset
#fill_0 = cars.fillna(0)
# fill_0.head()

In [ ]:
#fill_mean = cars.fillna(cars.mean()) # replacing all columns with mean
# fill_mean

In [ ]:
#fill_mode = cars.fillna(cars.wt.mode()) # replacing all columns with mode
# fill_mode

### Creating a new column

In [ ]:
# creating a new column
cars['Best'] = cars['mpg'] * cars['wt']
cars.head()

,Type,mpg,cyl,displacement,hp,drat,wt,qsec,vs,am,gear,carb,Best
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,manual,4,4,55.020
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,manual,4,4,60.375
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,manual,4,1,52.896
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,automatic,3,1,68.801
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,automatic,3,2,64.328

In [ ]:

cars['kpl'] = cars.apply(lambda mile: (mile.mpg * 0.43), axis = 1)
cars

,Type,mpg,cyl,displacement,hp,drat,wt,qsec,vs,am,gear,carb,Best,kpl
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,manual,4,4,55.0200,9.030
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,manual,4,4,60.3750,9.030
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,manual,4,1,52.8960,9.804
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,automatic,3,1,68.8010,9.202
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,automatic,3,2,64.3280,8.041
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,automatic,3,1,62.6260,7.783
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,automatic,3,4,51.0510,6.149
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,automatic,4,2,77.8360,10.492
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,automatic,4,2,71.8200,9.804
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,automatic,4,4,66.0480,8.256
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,automatic,4,4,61.2320,7.654
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,automatic,3,3,66.7480,7.052
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,automatic,3,3,64.5290,7.439
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,automatic,3,3,57.4560,6.536
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,automatic,3,4,54.6000,4.472
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,automatic,3,4,56.4096,4.472
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,automatic,3,4,78.5715,6.321
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,manual,4,1,71.2800,13.932
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,manual,4,2,49.0960,13.072
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,manual,4,1,62.2065,14.577
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,automatic,3,1,52.9975,9.245
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,automatic,3,2,54.5600,6.665
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,automatic,3,2,52.2120,6.536
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,automatic,3,4,51.0720,5.719
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,automatic,3,2,73.8240,8.256
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,manual,4,1,52.8255,11.739
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,manual,5,2,55.6400,11.180
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,manual,5,2,45.9952,13.072
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,manual,5,4,50.0860,6.794
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,manual,5,6,54.5690,8.471
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,manual,5,8,53.5500,6.450
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,manual,4,2,59.4920,9.202

In [ ]:
## Unique values
cars.Type.unique()

array(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D',
       'Merc 230', 'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL',
       'Merc 450SLC', 'Cadillac Fleetwood', 'Lincoln Continental',
       'Chrysler Imperial', 'Fiat 128', 'Honda Civic', 'Toyota Corolla',
       'Toyota Corona', 'Dodge Challenger', 'AMC Javelin', 'Camaro Z28',
       'Pontiac Firebird', 'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa',
       'Ford Pantera L', 'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype=object)

In [ ]:
cars.Type.nunique()

In [ ]:
## duplicate value
cars.drop_duplicates(inplace=True)

In [ ]:
df1 = cars.sort_values("mpg", ascending = False)

### Saving cleaned file

In [ ]:
# Saving final file
cars.to_csv("mtcars_cleaned.csv",index=False,header=True)

In [ ]:
cars.to_excel("mtcars_cleaned.xlsx",index=False,header=True)