# **String Manipulation**

- Strings are sequences of character data. The string type in Python is called str

In [ ]:
String_1 = "New Delhi"

In [ ]:
type(String_1)

str

## **Indexing and Slicing in python for strings**

- Indexing in python starts from 0
- Forwarding indexing from 0
- Backward indexing from -1
- Use [ ] to select a character

![image.png]()

In [ ]:
# How to select a character
Day = "SATURDAY"
Day[5]
# Please select second A
# Please select first A
Day[-2]
Day[1]

## **String Manipulation Methods**

### **Strings Concatenation**

In [ ]:
# print("Swaraj" + '5')
Part1 = "New" # assigining New to Part 1
Part2 = "Delhi" # assigning Delhi to Part 2

In [ ]:
print(Part1 + Part2)

NewDelhi

In [ ]:
print(Part1 + " " + Part2)

New Delhi

In [ ]:
Part1 = "New "
Part2 = " Delhi"
print(Part1 + Part2)

New Delhi

In [ ]:
name = "Sachin"
age = 50
print(name + " is " + age + " years old")   # error as only str to str concatenation is possible not int

In [ ]:
print('{} is {} years old'.format(name, 50))

Sachin is 50 years old

In [ ]:
a = 5
b = 5
c = a + b
# addition of a and b is c
print('additon of {} and {} is {}'.format(a, b, c))

additon of 5 and 5 is 10

In [ ]:
Name = "Sachin"
Age = 50
# Sachin is 50 years old.
print('{} is {} years old'.format(Name, Age))

Sachin is 50 years old

### **Repeat a string**

In [ ]:
word = "New Delhi " *  5
print(word)

New Delhi New Delhi New Delhi New Delhi New Delhi

### **Checking length of a string**

- Use len( )

In [ ]:
# Here we want to check the length of both strings
Part1 = "New "
Part2 = "Delhi"
# Concatenate them first logically and then check the length
print(Part1 + Part2)
len(Part1 + Part2)

#print(Part1 + Part2)
#print(len(Part1 + Part2))

New Delhi

9

### **Replace Part of a String**

- replace( )

In [ ]:
Number = '12,500'
type(Number)

str

In [ ]:
Number_new = int(Number.replace(',', ''))
print(Number_new)
type(Number_new)

12500

int

### **Counting any characters**

- count( )

In [ ]:
Week_2 = "Today is, your second week, of data science course"
Week_2.count('s')

4

### Splitting

`split()`	- Splits the string at the specified separator, and returns a list \
`splitlines()`	- Splits the string at line breaks and returns a list

In [ ]:
str1 = "Sandeep Kumar Singh"

In [ ]:
spl= str1.split(" ") # split is used to split words in the string. We can use other separtors also.
spl

['Sandeep', 'Kumar', 'Singh']

In [ ]:
str2 = '''
This is DS16 batch.

We are learning python.

Python is not tough
'''

In [ ]:
m= str2.splitlines() # splitline is used to split lines in the string
m

['',
 'This is DS16 batch.',
 '',
 'We are learning python.',
 '',
 'Python is not tough']

In [ ]:
str3 = 'This is DS16 batch. We are learning python. \nPython is not tough.'
print(str3)

This is DS16 batch. We are learning python.
Python is not tough.

In [ ]:
str3 = 'This is DS16 batch.\nWe are learning python.\n\nPython is not tough.' # \n & \t are escape characters
print(str3)

This is DS16 batch.
We are learning python.

Python is not tough.

### Stripping (remove spaces and characters)
`lstrip()` - Returns a left trim version of the string \
`rstrip()` - Returns a right trim version of the string \
`strip()` -	Returns a trimmed version of the string

In [ ]:
str1 = " Name is enough "
str1.strip() # removes any leading (spaces at the beginning) and trailing (spaces at the end) characters

'Name is enough'

In [ ]:
str1.lstrip() # removes any leading characters (space is the default leading character to remove)

'Name is enough '

In [ ]:
str1.rstrip() # removes any trailing characters (characters at the end a string), space is the default trailing character to remove

' Name is enough'

In [ ]:
# Practice question
str1 = "AGCTCGATGGTTCCAACGCGCGC@@@@@@@"
str2 = str1.rstrip('@')
print(str2)

AGCTCGATGGTTCCAACGCGCGC

### String Casing
`capitalize()`	Converts the first character to upper case\
`lower()`	Converts a string into lower case\
`upper()`	Converts a string into upper case\
`title()` Converts first letter in each word into upper case

In [ ]:
Sent = "data science is a good course to learn."
Sent.capitalize() # Converts the first character to upper case

'Data science is a good course to learn.'

In [ ]:
str1 = Sent.upper() # Converts a string into upper case
str1

'DATA SCIENCE IS A GOOD COURSE TO LEARN.'

In [ ]:
str1.lower() #  Converts a string into lower case

'data science is a good course to learn.'

In [ ]:
Sent.title()

'Data Science Is A Good Course To Learn.'

### String Character Checking
`endswith()`	Returns true if the string ends with the specified value\
`startswith()`	Returns true if the string starts with the specified value\

In [ ]:
str1 = "data science is a good course to data learn."
str1.endswith(".") # method returns True if the string ends with the specified value, otherwise False.

True

In [ ]:
str1.startswith("data") # method returns True if the string starts with the specified value, otherwise False.

True

### String Searching
`find()` -	Searches the string for a specified value and returns the first position of where it was found

In [ ]:
str1.find('to') # Searches the string for a specified value and returns the first position of where it was found

30

### **String Joining**
`join()` -	Joins the elements one by one with a given string

In [ ]:
a = "Sandeep "
'Singh '.join(a)

'SSingh aSingh nSingh dSingh eSingh eSingh pSingh  '

### **Alphanumeric characters**
- `isalnum()` to check if a string only contains alphanumeric characters (alphabets and numbers)

In [ ]:
word = 'DS16'
print(word.isalnum())

True

In [ ]:
word = 'DS 16'
print(word.isalnum())

False

### **Empty string**

In [ ]:
# The pythonic way to check if a string is empty is using the not operator.
my_string = ''
if not my_string:
  print("My string is empty!!!")

My string is empty!!!

In [ ]:
my_string = 'amazon, microsoft'
if not my_string:
  print("My string is NOT empty!!!")